<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="qp4">

	<xacro:property name="qp4_height" value="0.22" />

    <xacro:property name="cad_dir" value="file://$(find qp4_description)/../../assets/cad"/>
    
	<!-- Typically, STL/DAE model units are in mm, but RViz units are in m, hence models must be scaled down by 1000. -->
    <xacro:macro name="default_geometry" params="cad_file extension:=dae">
        <geometry>
           <mesh filename="${cad_dir}/${cad_file}.${extension}" scale="0.001 0.001 0.001"/>
        </geometry>
    </xacro:macro>


    <xacro:macro name="z_rot">
        <axis xyz="0 0 1"/>
    </xacro:macro>
 	
	<xacro:include filename="$(find qp4_description)/urdf/qp4_materials.xacro"/>
   
<!--
    <xacro:include filename="$(find qp4_description)/urdf/qp4_gazebo.xacro"/>
    <xacro:include filename="$(find qp4_description)/urdf/qp4_parts.xacro"/>
-->

    <xacro:include filename="$(find qp4_description)/urdf/qp4_parts_v2.xacro"/>

	<link name="base_link"></link>

 	<joint name="base_to_torso" type="fixed">
		<parent link="base_link"/>
		<child link="torso_link"/>
		<origin xyz="0 0 ${qp4_height}"/>
    </joint>

</robot>
