<?xml version="1.0"?>
<!-- gazebo_ros_control plugin for URDF -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <xacro:macro name="hip_swing_joint_gazebo" params="prefix">
        <transmission name="${prefix}_hip_swing_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_hip_swing_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_hip_swing_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:macro name="hip_lateral_joint_gazebo" params="prefix">
        <transmission name="${prefix}_hip_lateral_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_hip_lateral_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_hip_lateral_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:macro name="knee_joint_gazebo" params="prefix">
        <transmission name="${prefix}_knee_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_knee_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_knee_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <xacro:macro name="ankle_joint_gazebo" params="prefix">
        <transmission name="${prefix}_ankle_joint_tran">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="${prefix}_ankle_joint">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
            </joint>
            <actuator name="${prefix}_ankle_joint_motor">
                <hardwareInterface>EffortJointInterface</hardwareInterface>
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>

    <hip_swing_joint_gazebo prefix="back_right"/>
    <hip_swing_joint_gazebo prefix="back_left"/>
    <hip_swing_joint_gazebo prefix="front_right"/>
    <hip_swing_joint_gazebo prefix="front_left"/>
    <hip_lateral_joint_gazebo prefix="back_right"/>
    <hip_lateral_joint_gazebo prefix="back_left"/>
    <hip_lateral_joint_gazebo prefix="front_right"/>
    <hip_lateral_joint_gazebo prefix="front_left"/>
    <knee_joint_gazebo prefix="back_right"/>
    <knee_joint_gazebo prefix="back_left"/>
    <knee_joint_gazebo prefix="front_right"/>
    <knee_joint_gazebo prefix="front_left"/>
    <ankle_joint_gazebo prefix="back_right"/>
    <ankle_joint_gazebo prefix="back_left"/>
    <ankle_joint_gazebo prefix="front_right"/>
    <ankle_joint_gazebo prefix="front_left"/>
    
</robot>
