<?xml version="1.0"?>
<!-- QP4 parts -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	 <!--
		0.003175 = 0.125"
		0.00635 = 0.25"
		0.0127 = 0.5"
		0.0254 = 1"
		0.1524 = 6
		0.254  = 10
		0.2794 = 11"
		0.3048 = 12" 
	-->	
	
    <!-- Torso -->

    <link name="base_link">
	 <visual>
            <xacro:default_geometry cad_file="asb-512"/>
            <origin rpy="${pi/2} 0 0"/>
		</visual>
        <visual>
            <xacro:default_geometry cad_file="asb-11"/>
            <origin xyz="-0.0125 0.0254 -0.0127" rpy="0 0 ${pi/2}"/>
	   </visual>
        <visual>
            <xacro:default_geometry cad_file="asb-11"/>
            <origin xyz="0.0125 0.0254 -0.0127" rpy="0 0 -${pi/2}"/>
	   </visual>
        <visual>
            <xacro:default_geometry cad_file="asb-11"/>
            <origin xyz="-0.0125 0.2794 -0.0127" rpy="0 0 ${pi/2}"/>
	   </visual>
        <visual>
            <xacro:default_geometry cad_file="asb-11"/>
            <origin xyz="0.0125 0.2794 -0.0127" rpy="0 0 -${pi/2}"/>
	   </visual>
	</link>

	<xacro:macro name="leg" params="prefix reflectx reflecty">
		<!-- Hip -->
		<link name="${prefix}_hip_link">
	 		<visual>
		        <xacro:default_geometry cad_file="hs-645-mg"/>
		        <origin xyz="${reflectx*(0.01)} 0 0" rpy="0 ${reflectx*(-(pi/2))} ${reflectx*(pi/2)}"/>
			</visual>
			 <visual>
		        <xacro:default_geometry cad_file="asb-04"/>
		        <origin xyz="${reflectx*(0.01)} -0.0127 -0.0145" rpy="${pi/2} 0 ${reflectx*(pi)}"/>
			</visual>
			<visual>
		        <xacro:default_geometry cad_file="asb-04"/>
		        <origin xyz="${reflectx*(0.0129)} -0.0098 -0.0145" rpy="-${pi/2} 0 ${reflectx*(pi/2)}"/>
			</visual>  
		    <visual>
		        <xacro:default_geometry cad_file="hs-645-mg"/>
		        <origin xyz="0 -0.0098 -0.029" rpy="${pi/2} ${reflectx*(pi/2)} ${reflectx*(pi/2)}"/>
			</visual>
		</link>

	  	<joint name="base_to_${prefix}_hip" type="fixed">
			<parent link="base_link"/>
			<child link="${prefix}_hip_link"/>
			<origin xyz="${reflectx*(0.0398)} ${0.0444 + (0.254/2) + -reflecty*(0.254/2)} -0.0315" />
	  	</joint>

		<!-- Femur -->
		<link name="${prefix}_femur_link">
			<visual>
			    <xacro:default_geometry cad_file="asb-09-black"/>
			    <origin xyz="0 0.0287 0" rpy="0 0 0"/>
			</visual>
			<visual>
			    <xacro:default_geometry cad_file="asb-09-black"/>
			    <origin xyz="0 0.0287 0" rpy="${reflectx*(pi)} 0 0"/>
			</visual>
		</link>

	  	<joint name="${prefix}_hip_to_${prefix}_femur" type="fixed">
			<parent link="${prefix}_hip_link"/>
			<child link="${prefix}_femur_link"/>
			<origin xyz="${reflectx*(0.0192)} 0.0005 -0.0290" rpy="-${pi/2} 0 0"/>
	  	</joint>

		<!-- Tibia -->
		<link name="${prefix}_tibia_link">
			<visual>
			    <xacro:default_geometry cad_file="asb-15-black"/>
			    <origin xyz="${reflectx*(-0.0043)} -0.01422 -0.0386" rpy="0 ${reflectx*(-(pi/2))} 0 "/>
			</visual>
		 	<visual>
		        <xacro:default_geometry cad_file="hs-645-mg"/>
		        <origin xyz="0.0 0 -0.01" rpy="${pi/2} 0 ${reflectx*(pi/2)}"/>
			</visual>
		 	<visual>
		        <xacro:default_geometry cad_file="hs-645-mg"/>
		        <origin xyz="0.0 0 -0.067" rpy="-${pi/2} 0 ${reflectx*(-(pi/2))}"/>
			</visual>
		</link>

	  	<joint name="${prefix}_femur_to_${prefix}_tibia" type="fixed">
			<parent link="${prefix}_femur_link"/>
			<child link="${prefix}_tibia_link"/>
			<origin xyz="${reflectx*(-0.019)} 0.0572 0" rpy="${pi/2} 0 0"/>
	  	</joint>

		<!-- Foot -->
		<link name="${prefix}_foot_link">		
			<visual>
				<xacro:default_geometry cad_file="asb-11"/>
				<origin xyz="0 0.0185 -0.0272" rpy="${pi/2} 0 ${pi}" />
			</visual>
		</link>

		<joint name="${prefix}_tibia_to_${prefix}_foot" type="fixed">
			<parent link="${prefix}_tibia_link"/>
			<child link="${prefix}_foot_link"/>
			<origin xyz="${reflectx*(0.0185)} ${reflecty*(-0.0002)} -0.077" rpy="0 0 0"/>
	  	</joint>

	</xacro:macro>

	<xacro:leg prefix="back_right" 	reflectx="1" 	reflecty="1" />
  	
	<xacro:leg prefix="back_left" 	reflectx="-1" 	reflecty="1" />

	<xacro:leg prefix="front_right" reflectx="1" 	reflecty="-1" />
  	
	<xacro:leg prefix="front_left" 	reflectx="-1" 	reflecty="-1" />

</robot>
